<div class='footer-item-container'>
  <h1>About</h1>

  <h3>My name is Yolanda and I am a graduated software engineer by the Universitat Autònoma de Barcelona.
    I am interested in web applications and anything related to front-end development. As many people,
    I try to pay attention in how to manage my finances. From these two interests was born "My financial planner",
    a web app developed in AngularJS that tries to help anyone to manage his daily finances.  </h3>
  <a ng-href='#login'>Go back</a>
</div>
