<div>
    <div class="modal-header">
        <h3 class="modal-title">Update password</h3>
    </div>
    <form name='resetPasswordForm'>
        <div class="modal-body">
            <div>
                <input class="change-password-input" type='password'
                       ng-model='data.oldPassword'
                       placeholder='Type the old password'
                       required />
                <input class="change-password-input" type='password'
                       name='password'
                       ng-model='data.newPassword'
                       placeholder='Type a new password'
                       validate-password
                       required />
                <input class="change-password-input" type='password'
                       ng-model='data.repeatedNewPassword'
                       placeholder='Repeat the new password'
                       required />

                <div ng-messages='resetPasswordForm.password.$error'
                     ng-if='resetPasswordForm.$submitted'>
                    <span class="error-validation" ng-message='containsUpperLetter'>The password should contain at least one upper letter.</span>
                    <span class="error-validation" ng-message='containsLowerLetter'>The password should contain at least one lower letter.</span>
                    <span class="error-validation" ng-message='containsdigit'>The password should contain at least one number.</span>
                    <span class="error-validation" ng-message='hascorrectlength'>The password should contain at least 6 characters.</span>
                    <span class="error-validation" ng-message='containsSymbol'>The password should contain at least one especial character.</span>
                </div>
                <p class='passwords-equals'>{{passwordsEqualsMessage}}</p>

            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-default btn-confirmation" type="submit" value="OK" ng-click="confirmUpdatePassword($event, resetPasswordForm.$valid)" />
            <button class="btn btn-default btn-confirmation" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>