<div class='footer-item-container'>
  <h1>FAQ</h1>

  <h3>What is My Financial Planner?</h3>
  My financial planner is an application that will help you to have your financial data well organized and classified.
  Did you always wanted to know how much do you spend in supermarket all along the year? Ever asked yourself
  where exactly went the money at the end of the month? My financial planner stores each expense and income well classified
  and allows you seeing the data groupped in different ways so you can clearly learn every day a bit more of your finances.
  My Financial Planner also includes a section where you can monthly supervise if your expenses and incomes were in line with your expectations.

  <h3>Is it for free?</h3>
  As it was created as an answer for personal needs... I considered that it would be nice to share this tool with more people, so YES! IT IS FOR FREE!
  You're welcome :). I hope that you find it useful and easy to use. For any suggestions I left a mail in the "Contact" section ;). Suggestions or improvement ideas are
  always welcome!

  <br/><br/>
  <a ng-href='#login'>Go back</a>
</div>
