<form name="instantEntryForm">
  <div class="table-main-view">
    <div class="title-main-view">
      <p>NEW ENTRY</p>
    </div>
    <div class="row-main-view">
      <div class="cell-main-view"><span>Value:</span></div>
      <div class="cell-main-view">
        <input type="number" name="incomeField" step="0.01" required ng-model="incomeFieldValue"/>
      </div>
    </div>
    <div class="row-main-view">
      <div class="cell-main-view"><span>Category: </span></div>
      <div class="cell-main-view">
        <select class="main-input" ng-options="category.name for category in categories"
                ng-model="entry.selectedCategory" required>
          <option value="">Select category</option>
        </select>
      </div>
    </div>
    <div class="row-main-view">
      <div class="cell-main-view"><span>Date: </span></div>
      <div class="cell-main-view">
        <input type="text" date-time ng-model="entry.date" min-view="date" view='date' format="yyyy-MM-dd"/>
      </div>
    </div>
    <div class="row-main-view">
      <div class="cell-main-view">
        <button class="selectable inline-block" type="submit"
                ng-click="saveInstantData(instantEntryForm.$valid)">
          <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> SAVED DATA
        </button>
      </div>
    </div>
    <div>
      <span ng-show="showSavedInstant">SAVED!!</span>
    </div>
  </div>
</form>
