<div class='reset-password-text'>
  <h1>Did you forget your password?</h1>

  <h3>Don't worry, there are things in this life that can be fixed,
    and your forgotten password is one of these!</h3>
  <a ng-href='#login'>Go back</a>
</div>

<div class='send-email-container'>
    <form name='resetPasswordRequestForm'>
        <input type='email'
               ng-model='email'
               class='reset-password-input'
               placeholder='Email'
               required />

        <input type='submit'
               class='reset-password-submit selectable'
               value='Reset Password' ng-disabled='isEmailSent'
               ng-click='resetForgottenPasswordRequest(resetPasswordRequestForm.$valid)' />

        <div ng-show='isEmailSent' class='email-sent-container'>
            <p>An email has been sent to {{email}}, please check your account.</p>
        </div>
        <div ng-show='isEmailFalse' class='email-not-sent-container'>
            <p>The given email doesn't exist in our system. Try with another email.</p>
        </div>
    </form>
</div>

