<div class='reset-password-text'>
    <h1>Hurray!! Let's do it!</h1>

    <h3>
        Just choose a new password and press the button to be again on the road!
    </h3>
  <a ng-href='#login'>Go back</a>
</div>

<div class='reset-password-container'>
  <form name='resetPasswordForm'>
    <input type='password'
           name='password'
           ng-model='password'
           class='reset-password-input'
           placeholder='Type a new password'
           validate-password
               required />
    <input type='password'
           ng-model='repeatedPassword'
           class='reset-password-input'
           placeholder='Repeat the new password'
               required />

    <div ng-messages='resetPasswordForm.password.$error'
          ng-if='resetPasswordForm.$submitted'>
          <span class="error-validation" ng-message='containsUpperLetter'>The password should contain at least one upper letter.</span>
          <span class="error-validation" ng-message='containsLowerLetter'>The password should contain at least one lower letter.</span>
          <span class="error-validation" ng-message='containsdigit'>The password should contain at least one number.</span>
          <span class="error-validation" ng-message='hascorrectlength'>The password should contain at least 6 characters.</span>
          <span class="error-validation" ng-message='containsSymbol'>The password should contain at least one especial character.</span>
    </div>
    
    <p class='passwords-equals'>{{passwordsEqualsMessage}}</p>
    <div ng-show='isPasswordChanged'>
        <p>Password has been changed, redirecting...</p>
    </div>
    <input ng-disabled='isPasswordChanged' type='submit'
           class='reset-password-submit selectable'
           value='Reset Password'
           ng-click='resetForgottenPassword(resetPasswordForm.$valid)' />
  </form>
</div>

